
.menu{
 
  padding-top: 150px;
}
.contain{
 
  padding-top: 150px;
}

.headerfixed
{
width:100%;
position:fixed;
top:0;
z-index:1000;
}


.panel-heading-acc {
  margin-top: 5px;

 }
 .panel-heading-acc a {
  background: transparent;
  margin-bottom: 30px;
  color: darkgray;
  font-size: 13px;
  font-family: Arial;
   display: block;
  padding: 10px 40px 10px 15px;
  position: relative;
  transition: 0.3s;
 }
 .panel-heading-acc a:hover {
  background-color: transparent;
 }
 .panel-heading-acc a i {
  font-size: 16px;
  width: 30px;

 }
 .panel-heading-acc a::after {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  right: 15px;
  transition: 0.3s;
 }
 .panel-heading-acc.in a::after {
  transform: rotate(180deg);
 }
 .panel-heading-acc.in a {
  background:transparent;
 }
 .panel-heading-menu {
  margin-top: 5px;

 }
 .panel-heading-menu a {
  background: transparent;
  margin-bottom: 30px;
 color: black;
 font-weight: bold;
  font-size:14px;
  font-family: Arial;
   display: block;
  padding: 10px 40px 10px 15px;
  position: relative;
  transition: 0.3s;
 }
 .panel-heading-menu a:hover {
  background-color: transparent;
 }
 .panel-heading-menu a i {
  font-size: 16px;
  width: 30px;
 }
 .panel-heading-menu a::after {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  right: 15px;
  transition: 0.3s;
 }
 .panel-heading-menu.in a::after {
  transform: rotate(180deg);
 }
 .panel-heading-menu.in a {
  background:transparent;
 }
 .panel-collapses {
  display: none;
  padding-bottom: 20px;
 }

@media(min-width:768px){
  .menu{
    float: right;}
    .contain{
      float:left;}
}
.p_menu{
  color:#5c5c5c;
  font-size:13px;
  margin-left: 10px;
}
.head_menu{
  color: black;
  font-size:14px;
}

.zagolovok{
  font-size: 25px;
  font-weight: bold;
  font-family: Tahoma;
  margin-bottom: 30px;
 
}
.card{
  border-radius: 0;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.06);
  
 border-top-width: 3px;
 border-top-color:#278dab;
}
.card-body{
  margin-left: 70px;
  margin-right: 70px;
}
.badge__col{
  font-size: 17px;
  font-family: Tahoma;
  font-weight: 400;
  background: #278dab;
  color: white;
  border-radius: 0;
  width: 210px;
  height: 27px;
  text-align: center;
  margin-bottom: 30px;
}
.text-ordinary{
line-height: 20px;
font-family: Arial;
font-weight: 400;
font-size: 13px;
margin-bottom: 25px;
margin-top: 25px;
}
.lin{
font-family: Arial;
font-weight: 400;
font-size: 13px;
color:#278dab;

}
.lin__a{
  margin-top: 25px;
  line-height: 20px;
  margin-bottom: 30px;
}
.badge__col1{
  background: #278dab;
  color: white;
  font-family: Arial;
  font-weight: 400;
  font-size: 17px;
  width: 100px;
  height: 25px;
  border-radius: 0;
  margin-bottom: 30px;
}
.badge__col2{
  background: #278dab;
  color: white;
  font-family: Arial;
  font-weight: 400;
  font-size: 17px;
  width: 90px;
  height: 25px;
  border-radius: 0;
  margin-bottom: 20px;
  margin-top: 30px;
}
.text-ordinary__1{
line-height: 20px;
font-family: Arial;
font-weight: 400;
font-size: 13px;
margin-bottom: 30px;
}
.text-ordinary__2{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 30px;
  margin-left: 35px;
  }
  
.text-color{
line-height: 20px;
font-family: Arial;
font-weight: 400;
font-size: 13px;
color:#278dab;
margin-bottom: -25px;
}
.text-color1{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  color:#278dab;
  margin-bottom: -1px;
  }
.bal{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 30px;
}
.bal1{
  color:#278dab;
}
.text__or{
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  margin-bottom: -15px;
}
.rozr{
  color:#278dab;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  margin-bottom: 25px;
}
.gorn{
  margin-bottom: 30px;
  color: darkgray;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
}
.gorn1{
  margin-bottom: 30px;
  color: darkgray;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
}
.vidb{
  color:#278dab;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  margin-bottom: 30px;
}
.vidb1{
  color: #278dab;
  font-size: 13px;
  font-family: Arial;


  margin-bottom: 30px;
}
.ul1{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
}
.koef{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
}
.prich{
  color:#278dab;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: -15px;
}
.num{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 30px;
}
.prog{
  color:#278dab;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
}
.st{
  margin-top: 30px;
  margin-bottom: 20px;
}
.per{
  color:#278dab;
  font-size: 13px;
  font-family: Arial;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 5px;
}
.ul_2{

  margin-bottom: 40px;
  line-height: 20px;
  font-family: Arial;
  
  font-size: 13px;
}

.pr_block{
  width: 146px;
  height: 46px;
}
.pr__text{
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  text-align: center ;
}
.pr__container{
border: 1px solid lightgray;
width: 141px;
  height: 141px;
}
.icon__1{
  margin-right: 200px;
}
.pr{
  display: flex;
}
.kon{
  margin-top: 50px;
  margin-bottom: 10px;
}
.kon1{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.kon__os{
  font-family: Arial;
  font-size: 13px;
  
}

.kon__p{
  border-radius: 100px;
  height: 140px;
  width: 140px;
  
}
.p_vid{
  color: #278dab;
  font-size: 17px;
  font-family: Arial;
}
.kon__p1{
  border-radius: 100px;
  height: 85px;
 
}
.kon__text{
  font-family: Arial;
 
  font-size: 13px;

}
.kon__text1{
  font-family: Arial;
  
  font-size: 13px;
  
}
.kon__block{
  margin-left: 25px;

}
.kon__block1{
  margin-left: 25px;

}
.pr__text{
line-height: 20px;
font-family: Arial;
font-weight: 400;
font-size: 13px;
}
.pr__text1{
  margin-top: 55px;
  line-height: 20px;
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  margin-right: 30px;
  }
.inst{
  height: 30px;
  width: 30px;
}
.vidg{
  color:#278dab;
  

}
.expand{
  height: 40px;
  color: white;
  background: #278dab;
  border-radius: 0;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 10px;
}



.tb_blog { 
  width: 100%; 

 border: 2px solid white;
 }
 .tr_blog { 

 
  padding: 5px; 
  border: 1px solid lightgrey
 
 }
 .td_blog { 
  padding: 5px;
   
   border: 1px solid white
 }
 .tb_sel { 
  width: 100%; 
 border: 2px solid white;
 }
 
 .tr_h { 
 
background-color: #278dab;
 color: #fff;

 }
 .td_h { 

  font-family: Tahoma;
  color: #fff;
  padding: 26px;
 }
 .tr_menu { 
 
  background-color: #278dab;
   color: #fff;
  
   }
   .td_menu { 
  
    font-family: Arial;
    color: #fff;
    padding: 10px;
   }
   .td_menu_ch { 
    font-size: 13px;
    font-family: Arial;
    color: black;
    padding: 5px 10px 10px 10px;

   }
.tr_sel{
  color: black;
  font-size: 13px;
 
  font-family: Tahoma;
  background-color: white;
}
.td_sel{
 
  padding: 12px;
 
}
 .tr_sel:nth-child(2n+1){
  color: black;
  background-color: #ecf2fd;
 }
 .p_cards{
   color: grey;
   font-size: 12px;
 }
 p{
   margin: 0;
 }
 .p_cards span{
  color: #1E90FF;
 } 
 .div_a{
   padding: 5px 12px 12px 0px;
 }
 .p_p{
  float:left;
 }
 .p_num{
  float:right;
  right:0;
 }
 .p_num1{
   margin: 0;
  float:right;
  right:0;
 }
 .ph_menu{
   text-align: center;
 }
 .more{

  border:2px solid #278dab; 
 font-family: sans-serif;
  color:#278dab;
  border-radius: 5px;
  font-size: 11px;
width:120px;

padding: 10px 15px 10px 15px;
  background-color: transparent;
  position: relative;
left: 50%;
transform: translate(-50%, 0)

 }
 .more_m{

  border:1px solid #278dab; 
 font-family: sans-serif;
  color:#278dab;
  border-radius: 5px;
  font-size: 11px;
width:120px;
padding: 10px 15px 10px 15px;
  background-color: transparent;
  position: relative;
left: 50%;
transform: translate(-50%, 0)

 }

 .more:hover{
 background-color: #278dab;
 color :#fff
 }
 .more_m:hover{
 background-color: #278dab;
 color :#fff
 }
 .img_blog{
   width: 220px;
   height: 140px;
   border-radius: 5px;
 }
 .p_blog{
  font-weight: 700;
   font-size: 20px;
   margin-top: 30px;
 
 }
 .card_b{
   border-top: 3px solid #278dab ;
 }
 .ch{
   width:17px;
   height: 17px;
 }



.container_ch {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 13px;
  color:#5c5c5c;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container_ch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
 input:checked + label{
   color: black;
 }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: #eee;
}

.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  background-color: #eee;
}
.container_ch:hover input ~ .checkmark {
  background-color: #ccc;
}
.container_ch:hover input ~ .checkmark1 {
  background-color: #ccc;
}

.container_ch input:checked ~ .checkmark {
  background-color: #2196F3;
}
.container_ch input:checked ~ .checkmark1 {
  background-color: grey;
}
.container_ch input:checked {
  color: black;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}
.container_ch input:checked ~ .checkmark:after {
  display: block;

}
.container_ch input:checked ~ .checkmark1:after {
  display: block;
  
}
.container_ch .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_ch .checkmark1:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}