
.menu{
 
  padding-top: 150px;
}
.contain{
 
  padding-top: 150px;
}
@media(min-width:768px){
  .menu{
    float: right;}
    .contain{
      float:left;}
}
.p_menu{
  color:#5c5c5c;
  font-size:13px;
}
.head_menu{
  color: black;
  font-size:14px;
}
